@import '~bootstrap';
@import '~bootstrap-vue';
@import url("https://fonts.googleapis.com/css?family=Comfortaa");


#app {
  font-family: 'Comfortaa', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}